---
layout: default
---

<div class="main-content archive-page clearfix">
    <div class="category-item">
        <div class="post-lists">
           <div class="post-lists-body">
            <div class="category-title">Coding Test </div>
            {% for post in site.posts %}
            {% capture this_category %}{{ post.category }}{% endcapture %}

            {% if this_category == 'BOJ' %}

              <div class="post-list-item">
                  <div class="post-list-item-container">
                      <div class="item-label">
                          <div class="item-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                          <div class="item-meta clearfix">
                              <div class="item-meta-date"> {{ post.date | date: "%b %d, %Y" }} </div>
                          </div>
                      </div>
                  </div>
              </div>
            {% endif %}
            {% endfor %}

            <div class="category-title">Tutorial </div>
            {% for post in site.posts %}
            {% capture this_category %}{{ post.category }}{% endcapture %}

            {% if this_category == 'tutorial' %}

              <div class="post-list-item">
                  <div class="post-list-item-container">
                      <div class="item-label">
                          <div class="item-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                          <div class="item-meta clearfix">
                              <div class="item-meta-date"> {{ post.date | date: "%b %d, %Y" }} </div>
                          </div>
                      </div>
                  </div>
              </div>
            {% endif %}
            {% endfor %}

            <div class="category-title">Diary </div>
            {% for post in site.posts %}
            {% capture this_category %}{{ post.category }}{% endcapture %}

            {% if this_category == 'diary' %}

              <div class="post-list-item">
                  <div class="post-list-item-container">
                      <div class="item-label">
                          <div class="item-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                          <div class="item-meta clearfix">
                              <div class="item-meta-date"> {{ post.date | date: "%b %d, %Y" }} </div>
                          </div>
                      </div>
                  </div>
              </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</div>
