---
layout: default
---

<div class="main-content index-page clearfix">
  <div class="main-content-title">Portfolio</div>
  <div class="slider">
    <!-- imgs -->
    <div class="slider_imgs">
      <img src="/style/image/portfolio_thumbnails/Draft.png" alt="" class="slider_img slider_img_active" data-img-id="1">
      <img src="/style/image/portfolio_thumbnails/Draft.png" alt="" class="slider_img" data-img-id="2">
      <img src="/style/image/portfolio_thumbnails/Draft.png" alt="" class="slider_img" data-img-id="3">
      <img src="/style/image/portfolio_thumbnails/Draft.png" alt="" class="slider_img" data-img-id="4">
    </div>

    <!-- content -->
    <div class="slider_content">
      <div class="slider_info">
        <!-- titles -->
        <div class="slider_titles">
          <div class="slider_title slider_info_active" data-title-id="1">
            Portfolio No.1
          </div>
          <div class="slider_title" data-title-id="2">
            Portfolio No.2
          </div>
          <div class="slider_title" data-title-id="3">
            Portfolio No.3
          </div>
          <div class="slider_title" data-title-id="4">
            Portfolio No.4
          </div>
        </div>
        <!-- descs -->
        <div class="slider_descs">
          <div class="slider_desc slider_info_active" data-desc-id="1">
            No.1 Create Custom Vertical Slider only JS, CSS and HTML.
          </div>
          <div class="slider_desc" data-desc-id="2">
            No.2 Create Custom Vertical Slider only JS, CSS and HTML.
          </div>
          <div class="slider_desc" data-desc-id="3">
            No.3 Create Custom Vertical Slider only JS, CSS and HTML.
          </div>
          <div class="slider_desc" data-desc-id="4">
            No.4 Create Custom Vertical Slider only JS, CSS and HTML.
          </div>
        </div>
      </div>
      <!-- thumbnails -->
      <div class="slider_thumbs">
        <div class="slider_thumb slider_thumb_active" data-thumb-id="1">
          <img src="/style/image/portfolio_thumbnails/Draft.png" alt="" class="slider_thumb_img">
        </div>
        <div class="slider_thumb" data-thumb-id="2">
          <img src="/style/image/portfolio_thumbnails/Draft.png" alt="" class="slider_thumb_img">
        </div>
        <div class="slider_thumb" data-thumb-id="3">
          <img src="/style/image/portfolio_thumbnails/Draft.png" alt="" class="slider_thumb_img">
        </div>
        <div class="slider_thumb" data-thumb-id="4">
          <img src="/style/image/portfolio_thumbnails/Draft.png" alt="" class="slider_thumb_img">
        </div>
      </div>

    </div>
  </div>

  <div class="main-content-title">DevLog</div>
  <div class="post-lists">
    <div class="post-lists-body">
      {% for post in paginator.posts %}
      <div class="post-list-item">
        <div class="post-list-item-container">
          <div class="item-thumb bg-deepgrey"
            style="background-image:url({% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ '/style/image/thumbnail.png' | prepend: site.baseurl }}{% endif %});">
          </div>
          <a href="{{ post.url | prepend: site.baseurl }}">
            <div class="item-desc">
              <p>{{ post.content | strip_html | strip_newlines | truncate: 60 }} </p>
            </div>
          </a>
          <div class="item-slant reverse-slant bg-deepgrey"></div>
          <div class="item-slant"></div>
          <div class="item-label">
            <div class="item-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <br />
              {{ post.date | date: "%b %d, %Y" }}
            </div>
            <div class="item-meta clearfix">
              <div class="item-meta-ico {% if post.icon %}bg-ico-{{ post.icon }}{% endif %}"
                style="background: url({{ '/style/image/bg-ico.png' | prepend: site.baseurl }}) no-repeat;background-size: 40px auto;">
              </div>

              {% if post.category[0] %}
              {% assign cat = post.category[0] %}
              {% assign caturl = post.category[1] | split: "p-" %}
              {% else %}
              {% assign cat = post.category %}
              {% assign caturl = post.category | prepend: "category/" %}
              {% endif %}
              <div class="item-meta-cat"><a href="https://ssonsonya.github.io/{{ caturl }}">
                  {{ cat }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  {% if paginator.total_pages > 1 %}
  <div class="lists-navigator clearfix">
    <ol class="page-navigator">
      {% if paginator.previous_page %}
      <li class="prev"><a href="{{ paginator.previous_page_path | relative_url }}">←</a></li>
      {% endif %}
      {% for page in (1..paginator.total_pages) %}
      <li {% if page==paginator.page %} class="current" {% endif %}>
        <a
          href="{% if page == 1 %}{{  '/' | prepend: site.baseurl }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">{{
          page }}</a>
      </li>
      {% endfor %}
      {% if paginator.next_page %}
      <li class="next"><a href="{{ paginator.next_page_path | relative_url }}">→</a></li>
      {% endif %}
    </ol>
  </div>
  {% endif %}

</div>