<header id="header" class="header bg-white">
    <section id = "sidebar">
    <section>
    <details>
        <summary>
            <div class="sidebar-button-container"></div>
        </summary>
          {% include sidebar.html %}
    </details>
    </section>
    </section>
    <div class="navbar-container">
        <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-logo">
            <img src="{{ '/style/image/logo.png' | prepend: site.baseurl }}" alt="{{ site.title }}" />
            <span>&nbsp;&nbsp;&nbsp;{{ site.title }}</span>
        </a>
        <div class="navbar-menu">
            <!-- <a href="{{ '/categories' | prepend: site.baseurl }}">Category</a> -->
            <a href="{{ '/tags' | prepend: site.baseurl }}"><span class='iconfont icon-hashtag'></span>Tag</a>
            <a href="{{ '/timeline' | prepend: site.baseurl }}"><span class='iconfont icon-calendar'></span>Timeline</a>
            <a href="{{ '/about' | prepend: site.baseurl }}"><span class='iconfont icon-user'></span>About</a>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <!-- <li><a href="{{ '/categories' | prepend: site.baseurl }}">Category</a></li> -->
                <li><a href="{{ '/tags' | prepend: site.baseurl }}"><span class='iconfont icon-hashtag'></span></a></li>
                <li><a href="{{ '/timeline' | prepend: site.baseurl }}"><span class='iconfont icon-calendar'></span></a></li>
                <li><a href="{{ '/about' | prepend: site.baseurl }}"><span class='iconfont icon-user'></span></a></li>
            </ul>
        </div>
    </div>
</header>
