{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<sidebar id="sidebar" class="sidebar">

<div class="meta-item meta-posts">
  <h2 class="meta-title">Agenda</h2>
  <h3 class="meta-sublist">Portfolio</h3>
  <div class="meta-item">
    {% for post in site.posts %}
    {% if post.category == 'portfolio' %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {%endif%}
    {% endfor %}
  </div>
  <h3 class="meta-sublist">Levelling Up</h3>
  <div class="meta-item">
    <div class="taxonomy__index">
      {% for category in site.categories %}
      <li>
        <a href="categories/{{ category[0] }}">
          <strong>{{ category[0] }}</strong></a>
      </li>
      {% endfor %}
    </div>
  </div>
</div>
</sidebar>