<sidebar id="sidebar" class="sidebar">

  <div class="meta-item meta-posts">
    <h2 class="meta-title">Agenda</h2>
    <h3 class="meta-sublist">Portfolio</h3>
    <div class="meta-item">
      <li>
        <a href="{{ '/UE4' | prepend: site.baseurl }}">
          UnrealEngine 4</a>
      </li>
      <li>
        <a href="{{ '/DX3D' | prepend: site.baseurl }}">
          DirectX 3D</a>
      </li>
      <li>
        <a href="{{ '/DX2D' | prepend: site.baseurl }}">
          DirectX 2D</a>
      </li>
    </div>
    <h3 class="meta-sublist">Levelling Up</h3>
    <div class="meta-item">
      {% for category in site.categories %}
        {% if category[0] contains 'p-' %}
          {% continue %}
        {% else %}
          {% if category[0] contains 'portfolio' %}
            {% continue %}
          {% else %}
          <li>
           <a href="https://ssonsonya.github.io/category/{{ category[0] }}">
           <strong>{{ category[0] }}</strong></a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</sidebar>