---
layout: default
---

<div class="main-content index-page clearfix">
    <div class="portfolio">
        <img src="{{ page.thumbnail }}" alt="/style/image/thumbnail.png" style="width:860px; height:460px">
    </div>

    <div class="post-lists">
        <div class="post-lists-body">
            {% for post in site.posts %}
                {% if post.category[1] == page.type %}
                <div class="post-list-item">
                    <div class="post-list-item-container">
                        <div class="item-thumb bg-deepgrey"
                            style="background-image: url({% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ '/style/image/thumbnail.png' | prepend: site.baseurl }}{% endif %});">
                        </div>
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <div class="item-desc">
                                <p>{{ post.content | strip_html | strip_newlines | truncate: 60 }} </p>
                            </div>
                        </a>
                        <div class="item-slant reverse-slant bg-deepgrey"></div>
                        <div class="item-slant"></div>
                        <div class="item-label">
                            <div class="item-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                <br />
                                {{ post.date | date: "%b %d, %Y" }}
                            </div>
                            <div class="item-meta clearfix">
                                <div class="item-meta-ico {% if post.icon %}bg-ico-{{ post.icon }}{% endif %}"
                                    style="background: url({{ '/style/image/bg-ico.png' | prepend: site.baseurl }}) no-repeat; background-size: 40px auto;">
                                </div>
                                <div class="item-meta-cat"><a href="{{ category.url | prepend: site.baseurl }}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>