---
layout: default
---

<article class="main-content page-page" itemscope itemtype="http://schema.org/Article">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            {{ page.title }}
        </h1>
        <div class="post-data">
            <time itemprop="datePublished">{{ page.date | date: "%b %d, %Y" }}</time>
        </div>
    </div>
</article>
<div class="main-container">
    <div class="post-container">
        <article class="post-content">
            <br>
            <p><span class='iconfont icon-tags'>Tags : 
                {% for tag in page.tag %}
                {% assign curTag = tag | split: "|" %}
                <code>{{ curTag | slice: 1 }}</code>
                {% endfor %}</p>
                <hr>
            {{ content }}
        </article>
        <div class="navigation" id="navigation">
            <h1>Contents</h1>
            <ul class="nav sidenav"></ul>
            {% if page.related.size > 0 %}
                <h1>Related Posts</h1>
                <ul class="relatedlist">
                    {% for related in page.related %}
                    {% for post in site.posts %}
                    {% if related == post.url %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="post-content">
         {% include comment.html %}
        </div>
    </div>
</div>